/* Reset : make browser exact same */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* border box:-Change the box model so that the margin and padding no longer added to the total width and height that is specified for a box*/
}

html {
  /* font-size: 10px;100%16=62.5% */
  font-size: 62.5%;

  // Media

@include respond(phone){
  html{
    // font-size: 50%;
    font-size: 50%;
}
}
@include respond(tab-port){
  html{
    font-size: 60%;
}
}
@include respond(tab-land){
  html{
    font-size: 70%;
}
}

@include respond(big-desktop){
  html{
    font-size: 80%;
}
}
@include respond(tab-port){
  html{
    font-size: 50%;
    padding: 0;
}
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

}