@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

// media query manager
/*
0-600:         Phone
600-900px:     Tablet portrait
900-1200px:    Tablet Landscape
{1200-1800px}: is where our normal style apply
1800px + :     big screen */

// ORDER: Base+typography>general layout+grid>page layout >componenets

@mixin respond-phone{
    @media(max-width: 600px){@content};
}
// breakpoint argument choices
@mixin respond($breakpoint){ 
    @if $breakpoint==phone{
    @media(max-width: 600px){@content};
}


@if $breakpoint==tab-port{
    @media(max-width: 900px){@content};
}


@if $breakpoint==tab-land{
    @media(max-width: 1200px){@content};
}

@if $breakpoint==big-desktop{
    @media(min-width: 1800px){@content};
}


}
 